plug 'preservim/nerdtree'
plug 'tpope/vim-surround'
plug 'terryma/vim-multiple-cursors'

set scrolloff=999
set ignorecase smartcase
set showmode
set history=1000
set incsearch
set hls
set clipboard+=unnamed
set relativenumber
set number
set visualbell
set idearefactormode=keep
set showcmd
set showmode
" extensions
set surround
set multicursor
set highlightedyank
set nerdtree
set argtextobj

" register leader
let mapleader = " "

" clear search
nnoremap <esc> :noh<return><esc>

" change line, better use s for this.
nmap cc 1s

" copy word
nmap ,c yiw

" select word
nmap ,v viw

" delete word without yanking
nnoremap d "_d
vnoremap d "_d

" yanking and deleting
vnoremap j :m '>+1<cr>gv=gv
vnoremap k :m '<-2<cr>gv=gv
nnoremap j mzj`z

" replace currently selected text with default register
" without yanking it
vnoremap <leader>p "_dp

" center screen when jumping to next match
nnoremap n nzz
nnoremap n nzz
vnoremap n nzz
vnoremap n nzz

" center screen when moving up and down
nnoremap <c-u> <c-u>zz
nnoremap <c-o> <c-d>zz
vnoremap <c-u> <c-u>zz
vnoremap <c-o> <c-d>zz

" easy window navigation
" nnoremap <a-k> gt
" nnoremap <a-j> gt
nnoremap <tab> gt
nnoremap <s-tab> gt

" navigate window
nnoremap <c-h> <c-w>h
nnoremap <c-j> <c-w>j
nnoremap <c-k> <c-w>k
nnoremap <c-l> <c-w>l

" resize window
nmap <leader>m <action>(maximizeeditorinsplit)

" save file
nnoremap <leader>w <action>(savedocument)

" clear the search buffer when hitting return
nnoremap <leader><cr> :nohlsearch<cr>

" nerdtree
" map <leader>_ :nerdtree<cr>

" multiple cursors
map mc <a-n>
map mx <a-x>
map mp <a-p>

" find and replace
:map <leader>fw <action>(find)
:map <leader>sr <action>(replace)
:map <leader>fw <action>(findinpath)
:map <leader>sr <action>(replaceinpath)

" new class
:nmap <leader>cn <action>(newelement)

" generate code
:map <leader>gra <action>(generate)

" code refactoring
:map grn <action>(renameelement)
:map <leader>r <action>(refactorings.quicklistpopupaction)
:map <leader>fc <action>(reformatcode)
:map <leader>sw <action>(surroundwith)
:map <leader>dw <action>(unwrap)
:map <leader>oi <action>(optimizeimports)

" preview code
:map <leader>gpd <action>(quickimplementations)

" breakpoints
:map <leader>bb <action>(togglelinebreakpoint)
:map <leader>bs <action>(viewbreakpoints)
:map <leader>br <action>(debugger.removeallbreakpoints)

" comment out
:map <leader>gc <action>(commentbylinecomment)
:map <leader>gb <action>(commentbyblockcomment)

" code navigation
:map ]d <action>(gotonexterror)
:map [d <action>(gotopreviouserror)
:map <leader>_ <action>(selectinprojectview)
:map <leader>fs <action>(filestructurepopup)
:map <leader>es <action>(editsource)
:map <leader>fb <action>(recentfiles)

" splits
:nmap <leader>\ <action>(splitvertically)
:nmap <leader>- <action>(splithorizontally)
:nmap <leader>wmo <action>(moveeditortooppositetabgroup)

" git
:map <leader>grr <action>(vcs.rollbackchangedlines)

" built-in navigation to navigated items works better
:nmap <c-o> <action>(back)
:nmap <c-i> <action>(forward)

" but preserve ideavim defaults
:map g<c-o> <c-o>
:map g<c-i> <c-i>

" close stuff
:map <leader>bd <action>(closeeditor)
:map <leader>bd <action>(closealleditors)

" reactivate some idea shortcuts
:map <leader>se<action>(searcheverywhere)
:map <leader>sf <action>(gotofile)
:map <leader>ra <action>(runanything)
:map <leader>sa <action>(gotoaction)
:map <leader>sb <action>(recentfiles)
:map grr <action>(showusages)
:map grd <action>(gotodeclaration)
:map gri <action>(gotoimplementation)
:map grd <action>(gototypedeclaration)

" run
:map <leader>cg <action>(chooserunconfiguration)
:map <leader>cdg <action>(choosedebugconfiguration)
:map <leader>1 <action>(run)
:map <leader>2 <action>(debug)
:map <leader>0 <action>(stop)

" debug
nmap <leader>db <action>(togglelinebreakpoint)
nmap <leader>dc <action>(resume)
nmap <leader>do <action>(stepover)
nmap <leader>di <action>(stepinto)
nmap <leader>do <action>(stepout)
nmap <leader>db <action>(evaluateexpression)
nmap <leader>dc <action>(runtocursor)

" terminal
:nmap <c-\> <action>(activateterminaltoolwindow)

" source
nnoremap <leader>si :source ~/.ideavimrc<cr>
